body {
    background-color: rgb(57, 107, 65);
}

#al1,
#al2,
#al3 {
    width: 80px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#al1 {
    position: absolute;
    top: 10px;
    left: 126px;
}

#lab1 {
    position: absolute;
    top: 13px;
    left: 66px;
}

#al2 {
    position: absolute;
    top: 10px;
    left: 459px;
}

#lab2 {
    position: absolute;
    top: 13px;
    left: 399px;
}

#al3 {
    position: absolute;
    top: 10px;
    left: 792px;
}

#lab3 {
    position: absolute;
    top: 13px;
    left: 732px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input {
    background-color: darkkhaki;
    border-radius: 12px;
}

#buttonLogIn,
#buttonAddUser,
#buttonAddScore,
#buttonStart,
#buttonLogOut {
    background-color: aquamarine;
    font-weight: bold;
    width: 150px;
    height: 26px;
    border-radius: 12px;
    /* text-decoration-color: darkgreen; */
}

#buttonLogIn {
    position: absolute;
    top: 120px;
    left: 1120px;
}

#buttonAddUser {
    position: absolute;
    top: 160px;
    left: 1120px;
}

#buttonAddScore {
    position: absolute;
    top: 200px;
    left: 1120px;
}

#buttonStart {
    position: absolute;
    top: 240px;
    left: 1120px;
    background-color: rgb(75, 73, 187);
}

#buttonLogOut {
    position: absolute;
    top: 10px;
    left: 1300px;
    background-color: rgb(187, 119, 73);
}

#total {
    width: 147px;
    position: absolute;
    top: 10px;
    left: 1120px;
    text-align: center;
    /* font-size: 14px; */
    font-weight: bold;
}

#labTot {
    position: absolute;
    top: 10px;
    left: 1018px;
}

#login {
    position: absolute;
    top: 40px;
    left: 1120px;
}

#labLogin {
    position: absolute;
    top: 40px;
    left: 1070px;
}

#pass {
    position: absolute;
    top: 70px;
    left: 1120px;
}

#labPass {
    position: absolute;
    top: 70px;
    left: 1070px;
}

#labelTableUser {
    position: absolute;
    top: 575px;
    left: 1120px;
}

#tableUser {
    position: absolute;
    top: 600px;
    left: 1120px;
}

#labelTableAllUsers {
    position: absolute;
    top: 275px;
    left: 1120px;
}

#tableAllUsers {
    position: absolute;
    top: 300px;
    left: 1120px;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

#komunikat {
    position: absolute;
    top: 115px;
    left: 1300px;
    font-size: 16px;
    text-decoration-color: blue;
}