body {
    background-color: gray;
}

#al1,
#al2,
#al3 {
    width: 80px;
}

input {
    background-color: darkkhaki;
    border-radius: 12px;
}

#sub {
    background-color: aquamarine;
    text-decoration-color: darkgreen;
    position: absolute;
    top: 70px;
    left: 1100px;
}

#login {
    position: absolute;
    top: 10px;
    left: 1100px;
}

#pass {
    position: absolute;
    top: 40px;
    left: 1100px;
}